{% extends "base.html" %}

{% block content %}

    <div style="border-radius : 1rem; margin: 2rem; text-align: center">
        <h1 style="font-family:'Ga Maamli', sans-serif;">
            Hello World List! :-)
        </h1>
        <!--action에는 보낼 url, method는 POST방식으로-->
        <form action="/account/hello_world/" method="POST">
            {% csrf_token %}
            <div>
                <!--name은 보낼 데이터에 대한 구분자-->
                <input type="text" name="hello_world_input">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="POST">
            </div>
        </form>
        <!--hello_world_list 데이터가 있다면 반환-->
        {% if hello_world_list %}
            <!--hello_world_list 리스트 반환-->
            {% for v in hello_world_list %}
            <h1>
                {{ v.text }}
            </h1>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}