    <div class="pragmatic_header">
        <div>
            <h1 class="pragmatic_logo">Pragmatic</h1>
        </div>
        <div class="pragmatic_header_navbar">
            <!-- 버튼영역 -->
            <nav style="margin-top: 1rem;">
                <a href="{% url 'article_app:list' %}" class="pragmatic_header_nav">
                    <span>Articles</span>
                </a>
                <!--로그인 버튼 : 로그인 상태라면 로그아웃과 마이페이지, 아니라면 로그인, 회원가입 버튼이 보여주도록 설정-->
                <!-- └ a 태그에 app > urls.py app_name과 지정한 url 경로 입력-->
                <!-- └ ?next={{ request.path }} : next 인자를 지정함으로써 Get방식으로 값을 넘겨줌과 동시에 현재 페이지에서 작업완료 후 원래 페이지로 이동돼도록 지정(자동 리다이렉트)-->
                {% if not user.is_authenticated %}
                <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="pragmatic_header_nav">
                    <span>Login</span>
                </a>
                <a href="{% url 'accountapp:create' %}" style="margin-left: 15px;" class="pragmatic_header_nav">
                    <span>SignUp</span>
                </a>
                {% else %}
                <!-- 마이 페이지버튼 : 개인pk를 지정해야 특정개인에 대한 정보를 조회가능한 페이지이동 가능 -->
                <a href="{% url 'accountapp:detail' pk=user.pk %}" class="pragmatic_header_nav">
                    <span>MyPage</span>
                </a>
                <!-- logout은 POST 방식처리 -->
                <form method="post" action="{% url 'accountapp:logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer; background-color: red; margin-left: 20px;">
                        <span>LogOut</span>
                    </button>
                </form>
                {% endif %}
            </nav>
        </div>
    </div>