{% extends "base.html" %}

{% block content %}
<div>
    <div style="">
        <h1>
            {{ target_article.title }}
        </h1>

        <img src = "{{ target_article.image.url }}" alt="">

        <p>
            {{ target_article.content }}
        </p>
        <a href="{% url 'article_app:update' pk=target_article.pk %}">
            <p>
                Update Article
            </p>
        </a>
        <a href = "{% url 'article_app:delete' pk=target_article.pk%}" class="btn btn-dark rounded-pill col-3 mt-3 mb-3">
            <p>
                Delete Article
            </p>
        </a>
    </div>
</div>
{% endblock %}
