<!--base. html 적용-->
{% extends "base.html" %}
<!--js 기능을 위해 static 호출-->
{% load static %}

<!--app 활용 템플릿 영역-->
{% block content %}

<style>
    .container {
        margin-top: 100px; /* 헤더 높이만큼 마진을 추가하여 이미지가 겹치지 않도록 함 */
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .container div {
        width: 250px;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        overflow: hidden;
    }

    .container img {
        width: 100%;
        height: auto;
    }
</style>

{% if article_list %}
    <div class="container">
        {% for article in article_list %}
        <div>
            <a href="{% url 'article_app:detail' pk=article.pk %}">
                {% include 'snippets/card.html' with article=article %}
            </a>
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
{% else %}
    <div style="text-align:center">
        <h1>No Articles Yet!</h1>
    </div>
{% endif %}

{% include 'snippets/pagination.html' with page_obj=page_obj %}

<div style="text-align:center">
    <a href="{% url 'article_app:create' %}" class="btn btn-dark rounded-pill col-3 mt-3 mb-3">
        Create Article
    </a>
</div>
{% endblock %}
